<% script('/sonos/www/js/moment.js'); %>
<% script('/sonos/www/js/bootstrap-datetimepicker.min.js'); %>
<% stylesheet('/sonos/www/less/bootstrap-datetimepicker.min.css'); %>
<% stylesheet('/sonos/www/less/sonos.css'); %>

<div class="logo portlet-handle">
  <a href="plugin/sonos" data-action="ajax"><img src="/sonos/www/images/logo.png"></a>
</div>
<div class="text">
  <h4>Sonos</h4>
  <p><%- i18n('plugin.sonos.description') -%></p>
</div>