#Sonos {
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: block;
	text-align: left;
	position: absolute;
	background-color: #000000;
}

#SonosTitle {
	padding-top: 5px;
	background-color: #33A3EC;
	font-family: 'Open Sans Condensed', sans-serif;
	color: #FFF;
	text-transform: capitalize;
	font-size: 16px;
	line-height: 28px;
	padding: 0px 6px;
}

#SonosTitle strong{
	margin-left: 15px;
	color: #ffffff;
}

#SonosLogo {
	/*border-radius: 10px;*/
}

/*.plugin-gridster .glyphicon-refresh {
	color: #ffffff;
}*/